<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">DZIKLE'S EXPRESS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
            
            <li class="nav-item dropdown ">
            <div sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="navbar-brand" ><span sec:authentication="principal.authorities">User</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-item nav-link"  th:href="@{/profile}" sec:authentication="principal.username"> Welcome <span >User</span></a>
                        <div class="dropdown-divider"></div>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-item nav-link" >Logout</a>
                    </div>
                    </div>
                </li>
                 
                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/products}" class="nav-item nav-link" >Products</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/profile/cart}" class="nav-item nav-link" > My Shopping Cart</a>
                </li>
                
                <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/administration}" class="nav-item nav-link" > Administration</a>
               </div>
                </li>
                <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <a class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Sign In/Register</a>                  
               </div>
                </li>
                
               </ul>
        </div>
         <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Customer Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                   <form th:action="@{/login}" method="post">
    
    <div th:if="${param.error}">
      <div class="alert alert-danger">Invalid username or
       password.</div>
     </div>
     
     <div th:if="${param.logout}">
      <div class="alert alert-info">You have been logged out.</div>
     </div>
    
    
    
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control"
       autofocus="autofocus" placeholder="Username" />
     </div>
     
     <div class="form-group">
      <label for="password">Password</label> 
      <input type="password" id="password" name="password" class="form-control"
       placeholder="Password" />
     </div>
     
      <div class="form-group">
      <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" name="login-submit" id="login-submit"
         class="form-control btn btn-primary" value="Log In" />
       </div>
      </div>
     </div>
     
     </form>
                </div>
                <div class="form-group">
      <span>New user? <a href="/" th:href="@{/signUpForm}">Register
        here</a></span>
     </div>
     
     <div class="form-group">
     <p> 
     <a th:href="@{/forgotPassword}">Did you forget your password??? CLICK MEEE :-)</a>
     </p>
     
        </div>
       </div>
      </div>
    </div>
 </nav>

<div class="container">

<br>

<div th:if="${param.productAdded}">
     <div class="alert alert-success">Product added in your Cart!!! </div>
    </div>
  
  <div th:if="${param.isEmpty}">
     <div class="alert alert-info">Your cart is empty, please add products first !!! </div>
    </div>
    
    <div th:if="${param.nothingReturnedC}">
     <div class="alert alert-success">We are sorry , but we are out of products from the selected category, please check soon again... </div>
    </div>
    
    <div th:if="${param.nothingReturnedM}">
     <div class="alert alert-success">We are sorry , but we are out of products from the selected Manufacturer, please check soon again... </div>
    </div>
    
<h2>All Products</h2>
<div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto">
    
    </div>
    <div class="col col-lg-2">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-md-auto">
     
    </div>
    <div class="col col-lg-2">
      <a th:href="@{/product}" class="btn btn-outline-primary"> Table View</a>
    </div>
  </div>

 <br>

  <div class="row">
    <div class="col-2">
     <form th:action="@{/products}">
       <input type="hidden" name="sortField" th:value="${sortField}" />
       <input type="hidden" name="sortDir" th:value="${sortDir}" />
  
   <div class="form-group">
      <div class="form-row align-items-left">
        <label >Keyword</label>
        <div class="col-sm-10">
          <input placeholder="Enter Keyword" class="form-control" name="search" size="30"
            maxlength="80" /> 
        </div>
      </div>
    </div>
       <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
   
    <a th:href="@{/products}">Clear </a>
    <br> <br>
 </form>

<form th:action="@{/products}">
    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Select Category </label>
      <select  name="pid"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        
        <option th:each="category : ${categories}"
        th:value="${category.id}"
        th:text="${category.productCategory}"/>
      </select>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<br>
<form th:action="@{/products}">
    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Select Brand </label>
      <select  name="mid"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        
        <option th:each="man : ${brends}"
        th:value="${man.id}"
        th:text="${man.manufacturerName}"/>
      </select>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<br>
<form th:action="@{/products}">
    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Select Origin </label>
      <select  name="cid"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        
        <option th:each="country : ${countries}"
        th:value="${country.id}"
        th:text="${country.countryName}"/>
      </select>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<br>
<form th:action="@{/products}">
    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Select Store </label>
      <select  name="sid"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        
        <option th:each="store : ${stores}"
        th:value="${store.id}"
        th:text="${store.storeName}"/>
      </select>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<br>
</div>

<div class="col-10">
 <div class="row">
  <div class="col-xl-3" th:each="product : ${listProducts}">
   <div class="card" style="width: 14rem;">
    <img th:src="*{'data:image/png;base64,'+{product.image}}" style="width:220px" >
     <div class="card-body">
      <p class="card-title" th:text = "${product.productName}"></p>
      <hr>
      <p class="card-text" th:text = "${product.productPrice}"></p>
      <p class="card-text" th:text = "${product.store.storeName}"></p>
    
       <a th:href="@{/products/productDetails/{id}(id=${product.id})}" class="btn btn-primary btn-sm">Details</a>
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
      <a th:href="@{/shoppingCart/{id}(id=${product.id})}" class="btn btn-success btn-sm">Add to Cart</a>
      </div>
      
       <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/showUpdateProductForm/{id}(id=${product.id})}" class="btn btn-outline-success">Update</a>
        <a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-outline-danger">Delete</a> 
       </div>

    </div>
   </div>
  </div>
 </div>
 
  <hr>
 
 <div th:if = "${totalPages > 1}">
 
    <div class = "row col-sm-10">
     <div class = "row col-sm-2">
     Total Rows: [[${totalItems}]]
     </div>
     
     
     <div class = "row col-sm-2">
        <a th:if="${currentPage > 1}" th:href="@{'/pag/' + ${currentPage - 1}+ ${search != null ? '?search=' + search : ' ' }+ ${pid != null ? '?pid=' + pid : ' ' }+ ${mid != null ? '?mid=' + mid : ' ' }+ ${cid != null ? '?cid=' + cid : ' ' }+ ${sid != null ? '?sid=' + sid : ' ' }}">Previous</a>
<span th:unless="${currentPage > 1}">Previous</span>
        
     
     </div>
     
     <div class = "row col-sm-2">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
           <a th:if="${currentPage != i}" th:href = "@{'/pag/' + ${i}+ ${search != null ? '?search=' + search : ' ' }+ ${pid != null ? '?pid=' + pid : ' ' }+ ${mid != null ? '?mid=' + mid : ' ' }+ ${cid != null ? '?cid=' + cid : ' ' }+ ${sid != null ? '?sid=' + sid : ' ' }}">[[${i}]]</a>
           <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
     
     </div>
     
     <div class = "row col-sm-2">
     
     <a th:if="${currentPage < totalPages}" th:href="@{'/pag/' + ${currentPage + 1} + ${search != null ? '?search=' + search : ' ' }+ ${pid != null ? '?pid=' + pid : ' ' }+ ${mid != null ? '?mid=' + mid : ' ' }+ ${cid != null ? '?cid=' + cid : ' ' }+ ${sid != null ? '?sid=' + sid : ' ' }}">Next</a>
         <span th:unless="${currentPage < totalPages}">Next</span> &nbsp; &nbsp;
     </div>
     
      <div class = "row col-sm-2">
     
     <a th:if="${currentPage < totalPages}" th:href="@{'/pag/' + ${totalPages}+ ${search != null ? '?search=' + search : ' ' }+ ${pid != null ? '?pid=' + pid : ' ' }+ ${mid != null ? '?mid=' + mid : ' ' }+ ${cid != null ? '?cid=' + cid : ' ' }+ ${sid != null ? '?sid=' + sid : ' ' }}">Last</a>
         <span th:unless="${currentPage < totalPages}">Last</span> &nbsp; &nbsp;
         </div>
        </div>
       </div >
     </div>
   </div>
  
  <hr>
<br>
</div>
<div class="foot">
   <div class="container">
     <div class="row">
       <div class="col-sm">
         </div>
           <div class="col-sm">
             <h3>Gzikle's Shop powered by Marjan Geca Karafiloski . All right reserved 2020/2021</h3>
           </div>
          <div class="col-sm">
         </div>
        </div>
      </div>
      <br>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>

