<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">DZIKLE'S EXPRESS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
            
            <li class="nav-item dropdown ">
            <div sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="navbar-brand" ><span sec:authentication="principal.authorities">User</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-item nav-link"  th:href="@{/profile}" sec:authentication="principal.username"> Welcome <span >User</span></a>
                        <div class="dropdown-divider"></div>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-item nav-link" >Logout</a>
                    </div>
                    </div>
                </li>
                 
                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/products}" class="nav-item nav-link" >Products</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/profile/cart}" class="nav-item nav-link" > My Shopping Cart</a>
                </li>
                
                <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/administration}" class="nav-item nav-link" > Administration</a>
               </div>
                </li>
                <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <a class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Sign In/Register</a>                  
               </div>
                </li>
                
               </ul>
        </div>
         <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Customer Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                   <form th:action="@{/login}" method="post">
    
    <div th:if="${param.error}">
      <div class="alert alert-danger">Invalid username or
       password.</div>
     </div>
     
     <div th:if="${param.logout}">
      <div class="alert alert-info">You have been logged out.</div>
     </div>
    
    
    
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control"
       autofocus="autofocus" placeholder="Username" />
     </div>
     
     <div class="form-group">
      <label for="password">Password</label> 
      <input type="password" id="password" name="password" class="form-control"
       placeholder="Password" />
     </div>
     
      <div class="form-group">
      <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" name="login-submit" id="login-submit"
         class="form-control btn btn-primary" value="Log In" />
       </div>
      </div>
     </div>
     
     </form>
                </div>
                <div class="form-group">
      <span>New user? <a href="/" th:href="@{/signUpForm}">Register
        here</a></span>
     </div>
     
     <div class="form-group">
     <p> 
     <a th:href="@{/forgotPassword}">Did you forget your password??? CLICK MEEE :-)</a>
     </p>
     
     </div>
     
     

                
            </div>
        </div>
    </div>
 </nav>

<div class="container">
  
  <div th:if="${param.emptyPost}">
     <div class="alert alert-info">Sorry but you didn't write anything in the comment box </div>
    </div>
    
    <div th:if="${param.post}">
     <div class="alert alert-success">Your post was published successfully , thank you!!!</div>
    </div>

 <h1>Product Details</h1>
 
 
  <table class="table table-striped" th:object="${product}">
  
      <tr>
        <th></th>
      <td> <img th:src="*{'data:image/png;base64,'+{image}}" style="width:350px"></td>   
      </tr>
      <tr>
        <th>Product Name</th>
        <td><b th:text="*{productName}"></b></td>
      </tr>
      <tr>
        <th>Price</th>
        <td th:text="*{productPrice}"></td>
      </tr>
      <tr>
        <th>Category</th>
        <td th:text="*{category.productCategory}"></td>
      </tr>
      <tr>
        <th>Manufacturer</th>
        <td th:text="*{manufacturer.manufacturerName}"></td>
      </tr>
      <tr>
        <th>Origin</th>
        <td th:text="*{country.countryName}"></td>
      </tr>
      
    </table>
    <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
    <a th:href="@{/shoppingCart/{id}(id=${product.id})}" class="btn btn-success btn-sm">Add to Cart</a>
    </div>
    <br>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/showUpdateProductForm/{id}(id=${product.id})}" class="btn btn-outline-success">Update</a>
        <a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-outline-danger">Delete</a> 
       </div>
    <br>
    
    <a th:href="@{/products}" class="nav-item nav-link" >All Products</a>
    <hr>
    
    <br>
    
    <form action="#" th:action="@{/addComment/{id}(id=${product.id})}" th:object="${comment1}" method="post" enctype="multipart/form-data">
    <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{userComment}"  rows="3"placeholder="Type your comment here..."></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Post Comment</button>
  </form>
    
    <br>
    <br>
    <h3>Comments</h3>
    <hr>
    <table class="table table-striped" th:object="${comment}">
    
    <tr th:each="com: ${comment}">
        
        <td th:text="${#temporals.format(com.time, 'yyyy-MM-dd HH:mm:ss')}"></td>
         <td th:text="${com.user?.firstName+ ' ' + com.user?.lastName}"></td>
         <td th:text="${com.userComment}"></td>
       
      </tr>
    
    </table>
    
    <hr>
    <div th:if = "${totalPages > 1}">
 
    <div class = "row col-sm-10">
     <div class = "row col-sm-2">
     Total Rows: [[${totalItems}]]
     </div>
     
     
     <div class = "row col-sm-2">
        <a th:if="${currentPage > 1}" th:href="@{'/products/productDetails/'+${id}+'/pg/' + ${currentPage - 1}}">Previous</a>
<span th:unless="${currentPage > 1}">Previous</span>
        
     
     </div>
     
     <div class = "row col-sm-2">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
           <a th:if="${currentPage != i}" th:href = "@{'/products/productDetails/'+${id}+'/pg/' + ${i}}">[[${i}]]</a>
           <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
     
     </div>
     
     <div class = "row col-sm-2">
     
     <a th:if="${currentPage < totalPages}" th:href="@{'/products/productDetails/'+${id}+'/pg/' + ${currentPage + 1}}">Next</a>
         <span th:unless="${currentPage < totalPages}">Next</span> &nbsp; &nbsp;
     </div>
     
     
    
    <div class = "row col-sm-2">
     
     <a th:if="${currentPage < totalPages}" th:href="@{'/products/productDetails/'+${id}+'/pg/' + ${currentPage + 1}}">Last</a>
         <span th:unless="${currentPage < totalPages}">Last</span> &nbsp; &nbsp;
     </div>
    
    </div>
 
 </div >
  <hr>
    <br>
    
    <hr>
    
  
</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>